.mat-flat-button {
    margin-left: 4px;
    margin-bottom: 4px;
}

.container-blocos {
    margin-bottom: 8px;
}

.button-card-right {
    text-align: right;
}

.icone-visualizar-tam {
    font-size: 48px;
}

#badge-tarefa-icon > span {
    width: fit-content;
    left: -49px;
    top: -1px;
    background: #3980a2;
}