<div>
    <h3>Editar Curso</h3>
  </div>
  <form class="example-form" [formGroup]="cursoForm" (ngSubmit)="updateCurso(cursoForm.value)">
      <mat-form-field class="example-full-width">
        <textarea matInput name="descricaoAssunto" placeholder="Descrição do Assunto" formControlName="descricaoAssunto"></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Data De Inicio</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dataInicio" name="dataInicio" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Data De Termino</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="dataTermino" name="dataTermino" >
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput name="quantidadeAlunosTurma" placeholder="Quantidade De Alunos Por Turma" formControlName="quantidadeAlunosTurma">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput name="codigoCategoria" placeholder="Código Da Categoria" formControlName="codigoCategoria">
      </mat-form-field>

    <button type="submit" [disabled]="!cursoForm.valid" mat-flat-button color="primary" >Editar</button>
</form>
